@font-face {
  font-family: Arvo;
  font-weight: bold;
  src: url('assets/fonts/Arvo/Arvo-Bold.ttf');
}

@font-face {
  font-family: sometype-mono;
  src: url('assets/fonts/sometype-mono/SometypeMono-Regular.ttf');
}

body {
  background: #2D2D2D;
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: url(../assets/pictures/background-line.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
  font-family: sometype-mono;

  .container {
    margin-top: 2rem;

    .welcome {
      display: flex;
      justify-content: center;
      width: auto;
      height: 6rem;
      padding-bottom: 3rem;
    }

    .potrait {
      display: flex;
      justify-content: center;

      img {
        background-color: #1F1F1F;
        box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.15);
        width: 6rem;
        height: auto;
        border-radius: 0 30px 0 30px;
        padding: 2rem;
      }
    }

    .about-me {
      margin-top: 3rem;
      text-align: center;

      .headline-pink {
        font-family: Arvo;
        font-weight: 600;
        color: #E66EBA;
        font-size: 2.5rem;
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;
  width: 100%;

  .left-column {
    float: left;
    margin-left: 2rem;

    img {
      padding-right: 2rem;
      height: 2rem;
      width: auto;
    }
  }

  .right-column {
    float: right;
    margin-right: 2rem;

    img {
      height: 3rem;
      width: auto;
    }
  }
}