@font-face { 
  font-family: Arvo; 
  font-weight: bold; 
  src: url('assets/fonts/Arvo/Arvo-Bold.ttf');
}

@font-face { 
  font-family: sometype-mono; 
  src: url('assets/fonts/sometype-mono/SometypeMono-Regular.ttf');
}

body {
  background: #2D2D2D;
  margin: 2.25rem 5rem 2.25rem 5rem;
  background-image: url(./assets/pictures/background-line.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.welcome img {
  width: auto;
  height: 6rem;
}

.card-wrapper{
  background: #1F1F1F;
  box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.15);
  height: auto;
  width: auto;
  border-radius: 0 30px 0 30px;
  padding: 2rem;
}

.social-position {
  position: absolute;
  bottom: 3rem;
}

.tile {
  background: #101010;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.low-margin {
  margin-left: 6rem;
}

.big-margin {
  margin-right: 6rem;
  margin-top: -1rem;
}

.social-media-icon {
  height: 2.25rem;
  width: 2.25rem;
}

.name img {
  position: absolute;
  bottom: 2.25rem;
  right: 5rem;
  width: auto;
  height: 4rem;
}