@font-face { 
  font-family: Arvo; 
  font-weight: bold; 
  src: url('assets/fonts/Arvo/Arvo-Bold.ttf');
}

@font-face { 
  font-family: sometype-mono; 
  src: url('assets/fonts/sometype-mono/SometypeMono-Regular.ttf');
}

body {
  background: #2D2D2D;
}

.card {
  background: #1F1F1F;
  box-shadow: 30px 30px 10px rgba(0, 0, 0, 0.15);
}